

    body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: black;
      border-top: 1px solid black;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid black;
      border-radius:25px;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
    }

    .chatbar-message {
      flex: 8;
    }

    .chatbar-username {
      flex: 2;
    }

    .message {
      color:red;
      display: flex;
      padding: 5px;
    }

    .message.system {

      color:black;
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;
    }

    .message-username{
      color:black;
    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      background: black;
      border-bottom: 1px solid black;
      height: 60px;
      left: 0;
      padding: 5px 20px;
      position: fixed;
      right: 0;
      top: 0;
    }


    .navbar-brand {
      color: red;
      font-weight: 700;
      font-size: 5vw;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }

    .usersLogin {
      color:red;
      width:20%;
      line-height: 60px;
      font-size: 2vw;
    }
